{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner"> 
        <div class="title_banner"> Prenez le soin de votre auto  </div>
        
        <div><button type="button" class="btn btn-primary">Primary</button> </div>
    </div>

{% endblock %}